.container {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 62rem;
  border-radius: 1.5rem;
  filter: drop-shadow(0px 6px 64px rgba(112, 144, 176, 0.1));
}

.content {
  padding: 0 3rem;
}

.image, .content {
  flex: 1;
}

.image {
  border-radius: 0 1.5rem 1.5rem 0;
}

.content h1 {
  font-size: 2.5rem;
}

.content p {
  margin: 1.5rem 0;
  font-family: 'Nunito', sans-serif;
}

.content a {
  color: var(--black);
  display: block;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  width: 9rem;
  border: 1px solid var(--light-black);
  border-radius: 1.5rem;
}

@media ( max-width: 53rem ) {
  .container {
    flex-direction: column;
  }
}