.container {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.logo > hr {
  height: 2rem;
}

.logo > img {
  width: 9rem;
  height: auto;
}

.profile {
  width: 4rem;
}

.profile > img {
  border-radius: 50%;
}