.container {
  width: 100%;
  font-size: 1rem;
}

.container > h2 {
  font-size: 2.5rem;
}

.subtitle {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
}

.subtitle > hr {
  height: 1rem;
  margin-inline: 1rem;
}

.card p {
  color: var(--light-gray);
  margin: 2rem 0;
}

.card p span {
  color: var(--yellow);
  font-weight: bold;
}

.card a {
  color: var(--text-color);
  padding: 0.5rem 2rem;
  background: var(--accent);
  border-radius: 8px;
  margin: 0px 12px;
  text-decoration: none;
  display: inline-block;
  border: 2px solid var(--accent);
}

.card a:first-child {
  margin-left: 0;
}

.card a:last-child {
  background: transparent;
  border-color: var(--text-color);
}

@media (min-width: 768px) {
  .container > h2 {
    font-size: 4rem;
  }
  .subtitle {
    font-size: 1.5rem;
  }
}
