.container {
  position: absolute;
  z-index: -1;
  max-width: 45rem;
  max-height: 40rem;
  right: -10%;
}

.background {
  position: absolute;
  left: 0;
  z-index: -2;
}

@media ( max-width: 53rem ) {
  .container {
    max-width: 35rem;
  }
}