.container {
  position: absolute;
  z-index: -1;
  width: 100svw;
  height: 100svh;
  object-fit: cover;
}

.background {
  position: absolute;
  left: 0;
  z-index: -2;
}

@media ( max-width: 53rem ) {
  .container {
    max-width: 35rem;
  }
}