.container {
  width: 100%;
  text-align: center;
}

.container > h2 {
  margin-top: 1rem;
  font-weight: bold;
  text-align: initial;
  text-transform: uppercase;
}

.projects {
  --swiper-theme-color: var(--white);
}


@media (min-width: 640px) {
  .projects:hover img {
    opacity: 0.3;
  }
}

