.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 12rem;
  font-family: 'Playfair Display', serif;
}

.container h2 {
  font-size: 3rem;
  margin-bottom: 5rem;
}

@media ( max-width: 53rem ) {
  .container {
    margin-top: 0;
  }

  .container h2 {
    margin: 5rem 0;
  }
}