:root {
  --main-color: #e5e5e5;
  --accent: #fdc435;
  --text-color: white;
  --black: #000;
  --light-black: #25282b;
  --light-gray: lightgray;
  --white: white;
}

.dark {
  --main-color: #222831;
  --accent: #00adb5;
  --text-color: white;
  --light-gray: white;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  color: var(--text-color);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  height: auto;
  width: 100%;
}

body {
  background-color: var(--main-color);
}
